body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: blue;
}
#quote-box {
    background-color: wheat;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin:auto;
    box-shadow: 5px 5px 5px 5px #888888;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}